html, body{
    margin: 0; 
}

#content{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#top-content,
#main-content{
    display: flex;
    justify-content: space-between;
}

.weather-temp{
    display: flex;
}

.temp-etc{
    display: flex;
    flex-direction: column;
    font-size: smaller;
}